.wf__form {
    margin-top: 48rem;
    background-color: #15172b;
    border-radius: 5px;
    box-sizing: border-box;
    height: 600px;
    padding: 20px;
    width: 800px;
}

.wf__title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
}

.wf__input-container {
    height: 50px;
    display: inline-flex;
    width: 25%;
}

.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 30px;
}

.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
    margin-right: 40px;
}

.placeholder {
    color: white;
}

.wf__add, .remove {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    text-align: center;
    width: 9%;
    padding: 4px 20px 0;
    margin-right: 20px;
    margin-left: 100px;
}

.wf__add:hover, .remove:hover {
    opacity: 0.7;
}

.wf__submit:hover {
    opacity: 0.7;
}

.wf__submit {
    background-color: #06b;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
}

.wf__submit:active {
    background-color: #06b;
}