.Modal_inside {
    background-color: white;
    border-radius: 4px;
    width: 900px;
    box-shadow: 1px 3px 10px 2px rgb(0 0 0 / 20%);
    padding: 21px;
    /* Phai sua height: auto */
    height: 500px
}

.Modal_inside_container {
    position: relative;
}

.Label_common {
    position: absolute;
    top: 0;
    right: 0;
}