.flow__container {
    margin: 5rem 0rem;
    background-color: #15172b;
    border-radius: 5px;
    box-sizing: border-box;
}

.flow__boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}

.flow__box {
    margin: 2rem 4rem;
}

.label h1 {
    font-weight: 600;
    margin-top: 5px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font: 14px/20px 'Open Sans', Arial, sans-serif;
    color: #ddd;
    cursor: pointer;
}

input[type="checkbox"]+label:last-child {
    margin-bottom: 0;
}

input[type="checkbox"]+label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #6cc0e5;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked+label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.flow__submit {
    background-color: #06b;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    margin-bottom: 50px;
    text-align: center;
    width: 95%;
    margin-left: 1.4rem;
}

.flow__submit:active {
    background-color: #06b;
}