.dropZone {
    width: 300px;
    height: 300px;
}

.notDrag {
    background-color: brown;
}

.dragStart {
    background-color: aqua;
}

.dragOver {
    background-color: blueviolet;
}

.dragEnd {
    background-color: chartreuse;
}

.drop {
    background-color: black;
}