.FormBuilderContainer {
    user-select: none;
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.Test {
    background-color: rgb(255, 0, 0);
    width: 100%;
    height: 500px;
}