.FormBuilderContainer {
    user-select: none;
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.Test {
    background-color: aqua;
    width: 200px;
    height: 200px;
    margin: 0 200px 200px;
}