/* CSS for index.css */
* {
    box-sizing: inherit;
    font-family: 'Lato', sans-serif;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}

/* Start CSS for component */

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Container */
.toolBox_container {
    background-color: #1262E2;
    color: white;
    overflow-y: scroll;
    height: 100vh !important;
    width: 220px;
    float: right;
    font-size: 14px;
    line-height: 20px;
}

.toolBox_container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
}

.toolBox_container::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .25);
    transition: color .2s ease;
}

.toolBox_container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .1);
    border-radius: 0;
}

/* Search */
.toolBox_search {
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    position: relative;
    margin: 16px 0 0 16px;
    width: calc(100% - 29px);
    display: inline-flex;
    justify-content: space-between;
}

.toolBox_search>input {
    color: white;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0 28px 0 0;
    width: 152px;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    overflow: visible;
    cursor: text;
}

.toolBox_search>input::placeholder {
    color: white;
    opacity: 0.5;
}

.toolBox_search>input:focus {
    opacity: 1;
}


.toolBox_search>i {
    border-top-right-radius: 4px;
    font-size: 12px;
    cursor: default;
    text-align: center;
    color: white;
    opacity: 0.5;
    width: 15px;
    position: absolute;
    right: 0px;
    top: 2px
}

/* Option component */
.toolBox_title {
    margin: 0 16px;
    display: list-item;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin: 10px;
    padding: 6px;
    text-align: left;
    cursor: pointer;
}

.toolBox_title>i {
    font-size: 14px;
    float: right;
    height: 16px;
    line-height: 21px;
}

.toolBox_item {
    padding: 6px;
    margin: 15px;
    line-height: 20px;
    border: solid 1px white;
    border-radius: 2px;
    cursor: grab;
    font-size: 14px;
}

.toolBox_title:hover,
.toolBox_item:hover {
    background-color: #144799;
}